@{
    ViewBag.Title = "Blog Portal";
}

<div class="jumbotron">
    <h2>ARE YOU READY TO EMBRACE THE NEW PARADIGM?</h2>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Who are we?</h2>
        <p>
            We are the New Paradigm pioneers. <br/>
            We are here to make sure that you find your tribe.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What you will find here?</h2>
        <p>
            Inspired by the <a href="https://walkwithmenow.com/">WalkWithMeNow</a> community, you will find a lot of
            articles that help you to raise your frequency.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Why is it important now?</h2>
        <p>
            Since we are in a planetary transition it's crucial for us to stay together and release the lone wolf energy.
        </p>
    </div>
</div>